@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
* {
  font-family: "Outfit", sans-serif;
}
.active {
  background-color: rgb(138, 138, 250);
  border-color: rgb(253, 181, 244);
}

select,input,textarea{
  border:1px solid,rgb(253, 181, 244)
}