
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";
 *{
  font-family: "Outfit", sans-serif;
 }
 a.active hr{
  display: block;
 }
 .secondColor{
  color:#ED985F
 }
 ::-webkit-scrollbar{
    display: none;
 }